page-popupimg {
    .header-cls{
        width: 100%;
        padding: 10px 0;
        margin: 0;
        background: #008600;
        .logo{
            margin: 0 15px;
        }
    }
    .inner{
        width: 100%;
        text-align: center;
        
        box-sizing: border-box;
    }
    .ion-label{ color: #ccc;}
    .inner img{
        padding: 3px;
        margin-top:20px;
        background: rgb(228, 228, 228);
        border: 1px solid #adadad;
    }
    .bg{
        background: url(../../assets/imgs/bg.jpg) no-repeat 0 0;
        background-size: cover;
    }
   
        ion-item{
            width: 50%;
        }
  
    
     
    .footer{
   
     
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    border-top:1px solid #ccc;
    background: #fff;
    -webkit-box-shadow: 0px -2px 3px 0px rgba(224,224,224,1);
-moz-box-shadow: 0px -2px 3px 0px rgba(224,224,224,1);
box-shadow: 0px -2px 3px 0px rgba(224,224,224,1);
    }
    .cancel-cls{
        float: left;
        margin: 0 0 0 20px;
    }
    .submit-cls{
        float: right;
        margin: 0 20px 0 0px;
    }
}
