page-success {
    text-align: center;
.bgcolor{
    background: #f6f6f6;
    img{
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
    }
    h4{
        color: #4fbb55;
        width: 100%;
        padding: 0 10%;
        margin: 50px 0 0 0;
        text-align: center;
        animation-delay: 3.5s;
        
    }
    .gotohome{
        position: absolute;
        left: 33%;
       
      
        bottom: 10%;
        
    }
}

}
